<form method="post" action="{{ path('app_acronym_delete', {'id': acronym.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ acronym.id) }}">
    <button class="btn">Delete</button>
</form>
